$pink: #f38181;
$yellow: #fce38a;
$grey: #eaffd0;
$dark-grey: #999999;
$green: #95e1d3;
$white: #ffffff;
$black: #000000;
$transparent: #ffffff00;

$gradient: linear-gradient(to bottom, #{$pink}e6, #{$yellow}e6);