.service {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;

    &__icon {
        margin-right: 20px;
        max-width: 40px;
        max-height: 40px;
        position: relative;
        &Image {
            width: 40px;
            height: 40px;
            fill: $green;
            image {
                width: 100%;
                height: auto;
            }
        }
    }

    &__body {

    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        margin: 5px 0 10px;
    }
    &__text {
        @include greyText;
        position: relative;
    }
}