@import 'colors';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';


body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 5px 0 10px;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: $pink;
}

h1, h2 {
	font-weight: 300;
}
h1 {
	font-size: 45px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 14px;
}